<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>UploadServlet </servlet-name>
		<servlet-class>servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QueryServlet </servlet-name>
		<servlet-class>servlet.QueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/Query</url-pattern>
	</servlet-mapping>
</web-app>